<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>url shortner</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
   <section id="mainSection">
       <div class="box">
        <h2> Url Shortner</h2>
        <% if (locals.error) { %>
         <p class="error"> <%= error %>  </p>
        <% } %>
        <form action="/" method="POST">
        <input type="url" id="url" placeholder=" Enter url " name="url">
     <div>
        <input type="submit" class="submit" value="create url">
     </div>
    
    </form>
    <div class="short-url">
        <% if (locals.short_url) { %>
            <a href="<%= short_url %>" target="_blank"><%= short_url %> </a>
         
        <% } %>
    
    </div>

       </div>
   </section>


</body>
</html>